img{
	max-width: 50%
}

/*font*/
body {
	font-size:16px;
	font-family: 'Euphoria Script', cursive;
	line-height: 1.5;
	

}

a{
	text-decoration:none;
	font-size: 1em;
}

p {
	font-size: 1em;
}

h1, h2,h3 {
	font-family: 'Shrikhand', cursive
	font-weight: bold;
	font-size: 1.5em;
}

h1{
	font-size; 2.5em;
}

h2, h3 {
	font-size: 1.5em;
}

header h1, header h2 {
	margin: 0 0 0 10px;
	text-align: center;
	 
	/*navigation bar*/
	
}

nav {
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 10px 0 0 0;
	border-bottom: 1px solid gray;
	background: grey;
}

nav ul{
	list-style: none;
	margin: 2.5%;
	padding: 0;
}

nav ul li {
	display: inline-block;
	width: 25%;
	padding: 0;
}

nav a {
	display: block
	color: grey;
	font-weight: bold;
	padding: 8px;
	margin: 0;
	background: white;

}

nav a:hover, nav a.selected {
	transition-duration: 500ms;
	background: pink
	color; grey;
	border-radius: 5%
	padding= 5%
}

/*MAIN*/
main
{color: white;
	margin: 0 15px;
}

/*footer*/
footer{
	background: grey;
	color:#484444;
	padding: 5% 0 0 0;
	text-align: center;
	clear: both;
}

footer p{
	margin-top: 40px;
}

#about-me img {
display: block;
border-radius: 0%;
	margin: auto;
	text-align: center;

}
/*contact section*/

#contact ul {
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
}

#contact-list a{
	color: grey;
	padding:5%;
}


.contact-icon {
	margin: 0 5px 0 0;
	padding: 10px
	background: grey;
	border radius: 100%;
	font-size; 0.75em;
}


#contact-list a:hover i.contact-icon, li.social-icon a:hover {
	transition-duration: : 500ms;
	background: white;
	color: gray;
}
/*social icon section*/

.social-icon-list {
	list-style: none;
	display:block;
	margin: 20px 0;
	padding: 0;
}

li.social-icon {
	display: inline-block;
	margin: 0 6px;

}

li.social-icon a {
	transition-duration: 500ms;
	color: #fff;
	padding: 10px;
	background: gray;
	border-radius: 25%;
	text-align: center
}

/* portfolio*/

#portfolio img {
	display:block;
	border-radius: 0%;
	margin: auto;
	text-align: left;
}

#portfolio ul {
	margin:0;
	padding:0;
	list-style: none;
	text-align: center;
}

#portfolio li{
	float; left;
	width: 45%;
	margin: 2.5%
	background:grey;
}

#portfolio p{
	color: white;
	padding: 5% 0 10% 0;
}

#portfolio li:nth-child(odd){
	clear: left;
}

